<ScrollView orientaton="horizontal">
    <StackLayout class="head">
        <Label class="inscr" text="INSCRIPTION"></Label>
        <TextField class="input input-field" hint="Nom"></TextField>
        <TextField class="input  input-field" hint="Prenom"></TextField>
        <TextField class="input  input-field" hint="username"></TextField>
        <TextField class="input  input-field" hint="Password"></TextField>
        <TextField class="input  input-field" hint="Email"></TextField>
        <TextField class="input  input-field" hint="Adresse"></TextField>
        <TextField class="input  input-field" hint="Telephone"></TextField>
        <Button class="btn-inscr" text="S'inscrire" (tap)="createUser()"></Button>
    </StackLayout>
</ScrollView>