.head{
    background-color: rgb(14, 2, 26);
    padding: 50px;
}
.inscr{
    font-size:20;
    color: white;
    font-family: 'serif';
    horizontal-align: center;
    margin-top: 70px;
}
.input{
    font-family: 'serif';
    placeholder-color:#b5b5b5;
    font-size:18;
    padding-left: 30px;
    height: 150px;
}
.input-field{
    background-color: white;
    border-radius: 50px;
    margin-top: 50px;
}
.btn-inscr{
    width: 40%;
    height: 150px;
    horizontal-align: center;
    border-radius: 20px;
    margin-top: 50px;
    background-color: rgb(11, 151, 46);
    font-size: 18;
    font-family: 'serif';
    color: white;
}
