<ScrollView orientation="vertical">
    <StackLayout class="form">
        <Image class="logo" src="~/image/logo.png"></Image>
            <TextField class="input input-field" hint="Identifiant"></TextField>
            <TextField class="input input-field"  hint="Mot de passe"></TextField>
       
            <Button text="Connexion" class="btn-connexion" [nsRouterLink]="['/user']"></Button >
            <Label text="Mot de passe oublié?" class="txt-mdp"></Label>
            <FlexboxLayout   justifyContent="space-between" class="txt-compte">
                <Label  text="Besoin d'un compte?" ></Label>
                <Label  text="s'inscrire" class="inscription"></Label >
            </FlexboxLayout>
    </StackLayout>
</ScrollView>
