.form {
  background:#7dadff ;
  background-image: linear-gradient(180deg,rgba(255, 255, 255, 0.356), rgba(255,255,255, .95));
}
.logo {
  height: 90;
  margin-bottom: 60;
  margin-top: 50;
}
.input-field {
  margin-bottom: 20;
  background-color: white;
  border-radius:90px;
  padding-top: 15;
  padding-bottom: 15;
  width: 90%;
}
.input {
  font-size: 18;
  placeholder-color:#b5b5b5;
  font-family: 'serif';
  padding-left: 15;

}
.btn-connexion{
  background-color:#1449c9;
  color:white;
  width:90%;
  padding-top:5;
  padding-bottom: 5;
  border-radius:5px;
  margin-bottom: 40;
  font-family: 'serif';
  font-size: 24;
}
.txt-mdp {
  text-align: center;
  color: black;
  font-size: 18;
  font-family: 'serif';
}
.txt-compte{
  font-size: 18;
  margin-left:13%;
  font-family: 'serif';
  margin-top: 30;
  margin-bottom:50;
}
.inscription {
  color:#2078d1;
  margin-right: 13%; 
}


