
    <!--<StackLayout class="head">
        <StackLayout orientation="horizontal">
            <GridLayout>
                <Image class="menu" src="~/image/menu.png"></Image>
                <Image class="panier" src="~/image/grocery.png"></Image>
                <TextField class="input input-field" hint="Rechercher votre produit"></TextField>
            </GridLayout>

            <StackLayout class="produit_one">
                <Image class="img1" src="~/image/produit1.png"></Image>
                <Label class="text" text="MacBook air mi 2020..."></Label>
                <GridLayout class="grade">
                    <Label class="number" text="4"></Label>
                    <Image class="icon" src="~/image/grade2.png"></Image>
                </GridLayout>
                <GridLayout>
                    <Label class="money" text="1000 ar"></Label>
                </GridLayout>
                <GridLayout>
                    <Image class="icon_grade" src="~/image/grade.png"></Image>
                    <Image class="icon_favorite" src="~/image/favorite.png"></Image>
                    <Image class="icon_panier" src="~/image/grocery.png"></Image>
                </GridLayout>
            </StackLayout>

            <GridLayout class="produit_two">
                <Image class="img1" src="~/image/produit1.png"></Image>
                <Label class="text" text="Telephone haute de gamme"></Label>
                <GridLayout class="grade">
                    <Label class="number" text="5"></Label>
                    <Image class="icon" src="~/image/grade2.png"></Image>
                </GridLayout>
                <GridLayout>
                    <Label class="money" text="1500 ar"></Label>
                </GridLayout>
                <GridLayout>
                    <Image class="icon_grade" src="~/image/grade.png"></Image>
                    <Image class="icon_favorite" src="~/image/favorite.png"></Image>
                    <Image class="icon_panier" src="~/image/grocery.png"></Image>
                </GridLayout>
            </GridLayout>

            <GridLayout class="produit_three">
                <Image class="img1" src="~/image/produit1.png"></Image>
                <Label class="text" text="Samsung galaxy tab 2"></Label>
                <GridLayout class="grade">
                    <Label class="number" text="4"></Label>
                    <Image class="icon" src="~/image/grade2.png"></Image>
                </GridLayout>
                <GridLayout>
                    <Label class="money" text="5400 ar"></Label>
                </GridLayout>
                <GridLayout>
                    <Image class="icon_grade" src="~/image/grade.png"></Image>
                    <Image class="icon_favorite" src="~/image/favorite.png"></Image>
                    <Image class="icon_panier" src="~/image/grocery.png"></Image>
                </GridLayout>
            </GridLayout>

            <GridLayout class="produit_four">
                <Image class="img1" src="~/image/produit1.png"></Image>
                <Label class="text" text="MacBook air mi 2020..."></Label>
                <GridLayout class="grade">
                    <Label class="number" text="4"></Label>
                    <Image class="icon" src="~/image/grade2.png"></Image>
                </GridLayout>
                <GridLayout>
                    <Label class="money" text="1000 ar"></Label>
                </GridLayout>
                <GridLayout>
                    <Image class="icon_grade" src="~/image/grade.png"></Image>
                    <Image class="icon_favorite" src="~/image/favorite.png"></Image>
                    <Image class="icon_panier" src="~/image/grocery.png"></Image>
                </GridLayout>
            </GridLayout>

            <GridLayout class="produit_five">
                <Image class="img1" src="~/image/produit1.png"></Image>
                <Label class="text" text="MacBook air mi 2020..."></Label>
                <GridLayout class="grade">
                    <Label class="number" text="4"></Label>
                    <Image class="icon" src="~/image/grade2.png"></Image>
                </GridLayout>
                <GridLayout>
                    <Label class="money" text="1000 ar"></Label>
                </GridLayout>
                <GridLayout>
                    <Image class="icon_grade" src="~/image/grade.png"></Image>
                    <Image class="icon_favorite" src="~/image/favorite.png"></Image>
                    <Image class="icon_panier" src="~/image/grocery.png"></Image>
                </GridLayout>
            </GridLayout>

            <GridLayout class="produit_six">
                <Image class="img1" src="~/image/produit1.png"></Image>
                <Label class="text" text="MacBook air mi 2020..."></Label>
                <GridLayout class="grade">
                    <Label class="number" text="4"></Label>
                    <Image class="icon" src="~/image/grade2.png"></Image>
                </GridLayout>
                <GridLayout>
                    <Label class="money" text="1000 ar"></Label>
                </GridLayout>
                <GridLayout>
                    <Image class="icon_grade" src="~/image/grade.png"></Image>
                    <Image class="icon_favorite" src="~/image/favorite.png"></Image>
                    <Image class="icon_panier" src="~/image/grocery.png"></Image>
                </GridLayout>
            </GridLayout>

        </StackLayout>
    </StackLayout>-->
    
    <StackLayout>
        <Card:CardView>
                <Image class="img1" src="~/image/produit1.png"></Image>
        </Card:CardView>
    </StackLayout>
