<ScrollView orientation="vertical">
    <StackLayout class="head">
        <GridLayout>
            <Image class="icon_menu" src="~/image/menu.png"></Image>
            <Image class="icon_hamper" src="~/image/grocery.png"></Image>
        </GridLayout>
        <TextField class="input input-search" hint="Rechercher votre produit"></TextField>

        <GridLayout>
            <Card:CardView class="cardStyle1" elevation="15" radius="15">
                <StackLayout>
                    <Image src="~/image/image2.jpg"></Image>
                    <StackLayout class="all_inf_prod">
                        <Label class="text" text="MacBook air mi 2020"></Label>
                        <GridLayout class="border">
                            <Label class="number" text="4"></Label>
                            <Image class="grade" src="~/image/grade2.png"></Image>
                        </GridLayout>
                        <Label class="price" text="1000 ar"></Label>
                        <GridLayout class="icon">
                            <Image class="icon_grade" src="~/image/grade.png"></Image>
                            <Image class="icon_favorite" src="~/image/favorite.png"></Image>
                            <Image class="icon_grocery" src="~/image/grocery.png"></Image>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
            </Card:CardView>
            <Card:CardView class="cardStyle2" elevation="15" radius="15">
                <StackLayout>
                    <Image src="~/image/image2.jpg" ></Image>
                    <StackLayout class="all_inf_prod">
                        <Label class="text" text="Téléphone haute de gamme"></Label>
                        <GridLayout class="border">
                            <Label class="number" text="5"></Label>
                            <Image class="grade" src="~/image/grade2.png"></Image>
                        </GridLayout>
                        <Label class="price" text="1500 ar"></Label>
                        <GridLayout class="icon">
                            <Image class="icon_grade" src="~/image/grade.png"></Image>
                            <Image class="icon_favorite" src="~/image/favorite.png"></Image>
                            <Image class="icon_grocery" src="~/image/grocery.png"></Image>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
            </Card:CardView>
        </GridLayout>

        <GridLayout>
            <Card:CardView class="cardStyle1" elevation="15" radius="15">
                <StackLayout>
                    <Image src="~/image/image2.jpg"></Image>
                    <StackLayout class="all_inf_prod">
                        <Label class="text" text="Samsung galaxy tab 2"></Label>
                        <GridLayout class="border">
                            <Label class="number" text="4"></Label>
                            <Image class="grade" src="~/image/grade2.png"></Image>
                        </GridLayout>
                        <Label class="price" text="1000 ar"></Label>
                        <GridLayout class="icon">
                            <Image class="icon_grade" src="~/image/grade.png"></Image>
                            <Image class="icon_favorite" src="~/image/favorite.png"></Image>
                            <Image class="icon_grocery" src="~/image/grocery.png"></Image>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
            </Card:CardView>
            <Card:CardView class="cardStyle2" elevation="15" radius="15">
                <StackLayout>
                    <Image src="~/image/image2.jpg"></Image>
                    <StackLayout class="all_inf_prod">
                        <Label class="text" text="MacBook air mi 2020"></Label>
                        <GridLayout class="border">
                            <Label class="number" text="4"></Label>
                            <Image class="grade" src="~/image/grade2.png"></Image>
                        </GridLayout>
                        <Label class="price" text="1000 ar"></Label>
                        <GridLayout class="icon">
                            <Image class="icon_grade" src="~/image/grade.png"></Image>
                            <Image class="icon_favorite" src="~/image/favorite.png"></Image>
                            <Image class="icon_grocery" src="~/image/grocery.png"></Image>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
            </Card:CardView>
        </GridLayout>

        <GridLayout>
            <Card:CardView class="cardStyle1" elevation="15" radius="15">
                <StackLayout>
                    <Image src="~/image/image2.jpg"></Image>
                    <StackLayout class="all_inf_prod">
                        <Label class="text" text="MacBook air mi 2020"></Label>
                        <GridLayout class="border">
                            <Label class="number" text="4"></Label>
                            <Image class="grade" src="~/image/grade2.png"></Image>
                        </GridLayout>
                        <Label class="price" text="1000 ar"></Label>
                        <GridLayout class="icon">
                            <Image class="icon_grade" src="~/image/grade.png"></Image>
                            <Image class="icon_favorite" src="~/image/favorite.png"></Image>
                            <Image class="icon_grocery" src="~/image/grocery.png"></Image>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
            </Card:CardView>
            <Card:CardView class="cardStyle2" elevation="15" radius="15">
                <StackLayout>
                    <Image src="~/image/image2.jpg"></Image>
                    <StackLayout class="all_inf_prod">
                        <Label class="text" text="MacBook air mi 2020"></Label>
                        <GridLayout class="border">
                            <Label class="number" text="4"></Label>
                            <Image class="grade" src="~/image/grade2.png"></Image>
                        </GridLayout>
                        <Label class="price" text="1000 ar"></Label>
                        <GridLayout class="icon">
                            <Image class="icon_grade" src="~/image/grade.png"></Image>
                            <Image class="icon_favorite" src="~/image/favorite.png"></Image>
                            <Image class="icon_grocery" src="~/image/grocery.png"></Image>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
            </Card:CardView>
        </GridLayout>
    </StackLayout>
</ScrollView>