.head{
    background-color: #e4e4e4;
    padding: 50px;
}
.icon_menu{
  font-size: 25%;
}
.icon_hamper{
    font-size: 25%;
    margin-left: 880px;
}
.input{
    font-size:16;
    font-family: 'serif';
    placeholder-color:#afafaf;
    padding-left: 60px;
}

.input-search{
    background-color: white;
    border-radius:80px;
    height:120px;
    width:120%;
    padding: 10px 0px 10px 0px;
    margin-top: 50px;
}
.all_inf_prod{
    padding:20px;
}
.text{
    font-size: 14;
    font-family: 'serif';
    color:#a1a1a1
}
.border{
    background-color:#003a88;
    border-radius: 10px;
    width: 130px;
    height: 60px;
    horizontal-align: left;
    margin-top: 20px;
}
.number{
    font-size: 14;
    font-family: 'serif';
    color: white;
    margin-left: 20px;
}
.grade{
    color: #ffffff;
    margin-left: 70px;
    font-size: 12%;
 }
.price{
    font-size: 16;
    font-family: 'serif';
    color: #ff1818;
    margin-top: -70px;
    horizontal-align: right;
}
.icon{
    margin-top:10;
}
.icon_grade{
    font-size: 15%;
    horizontal-align: left;
}
.icon_favorite{
    font-size: 15%;
    margin-left: 200px; 
}
.icon_grocery{
    font-size: 15%;
    horizontal-align: right;
}


.icon_width_Color{
    font-size: 20%;
}

.leftPositionIcon{
    margin-left: 10px; 
    color: red;
}

.centerPositionIcon{
    horizontal-align: right;
    color: green;
}
.contenu{
    background-color:#ffffff;
    width: 48%;
    margin-top:50px;
    margin-left: 1%;
    margin-right:1% ;
    border-radius: 10%;
}
.image{
    border-radius: 10% 10% 0% 0%;
}
 

