<ScrollView orientation="vertical">
    <StackLayout class="head">
        <GridLayout>
            <Label text="&#xf039;" class="fas icon_menu"></Label>
            <Label text="&#xf07a;" class="fas icon_hamper"></Label>
        </GridLayout>
        <TextField class="input input-search" hint="Rechercher votre produit"></TextField>

        <GridLayout>
            <WrapLayout orientation="horizontal">
                    <StackLayout class="contenu" *ngFor="let t of tab; let i = index">
                        <Image class="image" src="~/image/image2.jpg"></Image>
                        <StackLayout class="all_inf_prod">
                            <Label class="text" [text]="t.text"></Label >
                            <GridLayout class="border">
                                <Label class="number" [text]="t.number"></Label>
                                <Label text="&#xf005;" class="fas grade"></Label>
                            </GridLayout>
                            <Label class="price" [text]="t.price"></Label>
                            <GridLayout class="icon">
                                <Label text="&#xf005;" class="fas icon_grade"></Label>
                                <Label text="&#xf004;" class="fas icon_favorite"></Label>
                                <Label text="&#xf07a;" class="fas icon_grocery"></Label>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
            </WrapLayout>
        </GridLayout>
    </StackLayout>
</ScrollView>