<ScrollView orientation="vertical">
    <StackLayout class="head">
        <GridLayout>
            <Image class="icon_menu" src="~/image/menu.png"></Image>
            <Image class="icon_hamper" src="~/image/grocery.png"></Image>
        </GridLayout>
        <TextField class="input input-search" hint="Rechercher votre produit"></TextField>

        <GridLayout>
            <WrapLayout orientation="horizontal">
                    <StackLayout class="contenu" *ngFor="let t of tab; let i = index">
                        <Image class="image" src="~/image/image2.jpg"></Image>
                        <StackLayout class="all_inf_prod">
                            <Label class="text" [text]="t.text"></Label >
                            <GridLayout class="border">
                                <Label class="number" [text]="t.number"></Label>
                                <Image class="grade" src="~/image/grade2.png"></Image>
                            </GridLayout>
                            <Label class="price" [text]="t.price"></Label>
                            <GridLayout class="icon">
                                <Image class="icon_grade" src="~/image/grade.png"></Image >
                                <Image class="icon_favorite" src="~/image/favorite.png"></Image>
                                <Image class="icon_grocery" src="~/image/grocery.png"></Image>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
            </WrapLayout>
        </GridLayout>
    </StackLayout>
</ScrollView>