<ScrollView orientation="vertical">
    <StackLayout class="page">
        <FlexboxLayout justifyContent="space-between">
            <Image class="setting"  src="~/image/setting.png"></Image>
            <Image class="notif"  src="~/image/notification.png"></Image>
        </FlexboxLayout>
        <Image class="img_profil" src="~/image/image.jpg"></Image>
        <Label class="profil_name" text="RAKOTO Litakely"></Label>
        <Label class="country" text="Madagascar"></Label>
        <FlexboxLayout justifyContent="space-between" class="number">
            <Label text="325"></Label>
            <Label text="325"></Label>
        </FlexboxLayout>
        <FlexboxLayout justifyContent="space-between" class="txt_like">
            <Label text="J'aimes"></Label>
            <Label text="Abonnées"></Label>
        </FlexboxLayout>
        <Stacklayout class="body">
            <FlexboxLayout justifyContent="space-between" class="marg">
                <Image class="icon" src="~/image/sharp.png"></Image>
                <Label class="txt_information" text="Commandes"></Label>
                <Label class="nb_command" text="19"></Label>
                <Image class="chevron" src="~/image/chevron.png"></Image>

            </FlexboxLayout>
            <Label class="champ"></Label>
            <FlexboxLayout justifyContent="space-between">
                <Image class="icon" src="~/image/favorite.png"></Image>
                <Label class="txt_information" text="Favories"></Label>
                <Label class="nb_number" text="08"></Label>
                <Image class="chevron" src="~/image/chevron.png"></Image>
            </FlexboxLayout>
            <Label class="champ"></Label>
            <FlexboxLayout justifyContent="space-between">
                <Image class="icon" src="~/image/grade.png"></Image>
                <Label class="txt_information" text="Votes"></Label>
                <Label class="nb_number" text="1285"></Label>
                <Image class="chevron" src="~/image/chevron.png"></Image>
            </FlexboxLayout>
            <Label class="champ"></Label>
            <FlexboxLayout justifyContent="space-between">
                <Image class="icon" src="~/image/history.png"></Image>
                <Label class="txt_information" text="Historiques"></Label>
                <Label class="nb_history" text="192"></Label>
                <Image class="chevron" src="~/image/chevron.png"></Image>
            </FlexboxLayout>
            <Label class="champ"></Label>
        </Stacklayout>
    </StackLayout>
</ScrollView>