<ScrollView orientation="vertical">
    <StackLayout>
        <StackLayout class="header">
            <FlexboxLayout justifyContent="space-between">
                <Image class="icon_top" src="~/image/setting.png"> </Image>
                <Image class="icon_top" src="~/image/notification.png"></Image>
            </FlexboxLayout>
            <Image class="img_profil" src="~/image/image.jpg"></Image>
            <Label class="profil_name" text="RAKOTO Litakely"></Label>
            <Label class="country" text="Madagascar"></Label>
            <FlexboxLayout justifyContent="space-between">
                <Label class="number1" text="325"></Label>
                <Label class="number2" text="325"></Label>
            </FlexboxLayout>
            <FlexboxLayout justifyContent="space-between">
                <Label class="txt_reaction1" text="J'aimes"></Label>
                <Label class="txt_reaction2" text="Abonnées"></Label>
            </FlexboxLayout>
        </StackLayout>

        <StackLayout class="body">
            <FlexboxLayout justifyContent="space-between" class="input_icon">
                <Image class="icon" src="~/image/sharp.png"></Image>
                <Image class="chevron" src="~/image/chevron.png"></Image>
            </FlexboxLayout>
            <FlexboxLayout justifyContent="space-between" class="input_details">
                <Label class="txt_details" text="Commandes"></Label>
                <Label class="nb_details" text="19"></Label>
            </FlexboxLayout>
            <Label class="border"></Label>

            <FlexboxLayout justifyContent="space-between" class="input_icon">
                <Image class="icon" src="~/image/favorite.png"></Image>
                <Image class="chevron" src="~/image/chevron.png"></Image>
            </FlexboxLayout>
            <FlexboxLayout justifyContent="space-between" class="input_details">
                <Label class="txt_details" text="Favories"></Label>
                <Label class="nb_details" text="08"></Label>
            </FlexboxLayout>
            <Label class="border"></Label>

            <FlexboxLayout justifyContent="space-between" class="input_icon">
                <Image class="icon" src="~/image/grade.png"></Image>
                <Image class="chevron" src="~/image/chevron.png"></Image>
            </FlexboxLayout>
            <FlexboxLayout justifyContent="space-between" class="input_details">
                <Label class="txt_details" text="Votes"></Label>
                <Label class="nb_details" text="1285"></Label>
            </FlexboxLayout>
            <Label class="border"></Label>

            <FlexboxLayout justifyContent="space-between" class="input_icon">
                <Image class="icon" src="~/image/history.png"></Image>
                <Image class="chevron" src="~/image/chevron.png"></Image>
            </FlexboxLayout>
            <FlexboxLayout justifyContent="space-between" class="input_details">
                <Label class="txt_details" text="Historiques"></Label>
                <Label class="nb_details" text="192"></Label>
            </FlexboxLayout>
            <Label class="border"></Label>
        </StackLayout>
    </StackLayout>
</ScrollView>