
.header{
    background-color: rgb(1,64,107);
    padding:30px;
    margin-bottom:30px ;
}
.icon_top{
    width: 96px;
    opacity: 1.2;
    padding-bottom: 30px;
}
.img_profil{
    height: 360px;
    border-radius: 200px;
    width: 360px;
    margin-top:65px;
    border-width: 10px;
    border-color: white;
}
.profil_name{
    font-size:16;
    text-align: center;
    color:#ffffff;
    font-family:'serif';
    padding-top: 40px;
}
.country{
    font-size:14;
    text-align: center;
    color:#8997a0;
    font-family:'serif';
}
.number1{
    font-size:14;
    font-family: 'serif';
    color: #ffffff;
    margin:40px 50px 0px 80px;  
}
.number2{
    font-size:14;
    font-family: 'serif';
    color: #ffffff;
    margin:40px 100px 0px 50px;  
}
.txt_reaction1{
    font-size:14;
    font-family: 'serif';
    color: #ffffff;
    margin:0px 90px 0px 50px; 
}
.txt_reaction2{
    font-size:14;
    font-family: 'serif';
    color: #ffffff;
    margin:0px 50px 0px 50px; 
}
.body{
    width:100%;
    height: 270;
}
.input_icon{
    margin-top: 30px;
   
}
.input_details{
    margin-top: -120px;
}
.icon{
    width: 96px;
    margin:0px 40px 00px 40px;
    opacity:0.3;
}
.txt_details{
    font-size:14;
    font-family: 'serif';
    color: #777777;
    margin:40px 350px 0px 170px;  
}
.nb_details{
    font-size: 14;
    font-family: 'serif';
    color: #777777;
    margin:40px 160px 0px 0px;
}
.chevron{
    width: 96px;
    margin:10px 40px 0px 90px;
    opacity:0.3;
}
.border{
    border-bottom-width:2px;
    border-color: #d9d9d9;
    padding-top:-20px;
    margin:5px 60px 0px 170px;
}







