<ScrollView orientation="vertical">
        <StackLayout>
                <StackLayout class="head">
                        <GridLayout>
                                <Image class="icon_chevronleft" src="~/image/chevron left.png"></Image>
                                <Image class="icon_search" src="~/image/search.png"></Image>
                                <Image class="icon_more" src="~/image/more.png"></Image>
                        </GridLayout>

                        <GridLayout>
                                <Image class="img_profil" src="~/image/image.jpg"></Image>
                                <Label class="profil_name" text="Katucia Andria"></Label>
                                <Label class="profil_job" text="Mobile Developper"></Label>
                                <Label class="group" text="mi-Dev Group"></Label>
                        </GridLayout>

                        <GridLayout>
                                <Button text="Suivre" class="btn_follow"></Button>
                                <Button text="Contact" class="btn_contact"></Button>
                        </GridLayout>

                        <Label text="Photos" class="txt_photos"></Label>
                        <ScrollView orientation="horizontal">
                                <StackLayout orientation="horizontal">
                                        <GridLayout class="month_january">
                                                <Image class="img_calendar" src="~/image/image1.jpg"></Image>
                                                <Label class="calendar" text="Janvier 2020"></Label>
                                        </GridLayout>
                                        <GridLayout class="month_february">
                                                <Label class="calendar" text="Février 2020"></Label>
                                        </GridLayout>
                                        <GridLayout class="month_march">
                                                <Label class="calendar" text="Mars"></Label>
                                        </GridLayout>
                                        <GridLayout class="month_april">
                                                <Label class="calendar"></Label>
                                        </GridLayout>
                                        <GridLayout class="month_may">
                                                <Label class="calendar"></Label>
                                        </GridLayout>
                                        <GridLayout class="month_june">
                                                <Label class="calendar"></Label>
                                        </GridLayout>
                                </StackLayout>
                        </ScrollView>
                </StackLayout>


                        <StackLayout>
                                <Card:CardView class="cardStyle" margin="20" elevation="15" radius="10">
                                        <Image class="img_calendar" src="~/image/image1.jpg"></Image>
                                </Card:CardView>
                        </StackLayout>


                <Label text="TEST" textWrap="true"></Label>
                


        </StackLayout>
</ScrollView>